$black: #1A0809;
$black75: #1A0809BF;
$black50: #1A080980;
$black25: #1A080940;
$black10: #1A08091A;
$black5: #1A08090D;
// $text-black: #1A0809D9;
$text-black: #1A0809E6;
$primary: #CC1F2A;
$secondary: #737373;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 32px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    vertical-align: middle;
}

a,
button,
select {
    cursor: pointer;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: inherit;
}

input {
    font-family: inherit;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

a {
    color: $black;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.section-title {
    text-align: center;
    color: $black;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-weight: 600;
// }




////////////////////      NAWIGACJA     ////////////////////

.navbar {
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;

    &__brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .4rem .2rem;
        border-bottom: 1px solid #F8F8F8;
        background-color: #fff;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .05);
    }

    &__logo {
        display: inline-block;
        padding: 0.8rem;
        transition: opacity .2s;

        &:hover {
            opacity: .7;
        }
    }

    &__logo-img {
        max-width: 140px;
    }

    &__burger-btn {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 0.8rem;
        border: none;
        background-color: transparent;
    }

    &__burger-bar {
        display: inline-block;
        border-radius: 100rem;
        width: 28px;
        height: 3px;
        background-color: #696969;

        &--top {
            transform-origin: right center;
            transition: transform .15s ease-in;
        }

        &--middle {
            transition-delay: .21s;
        }

        &--bottom {
            transition: transform .15s ease-in, translate .15s .15s ease-out;
            transform-origin: left center;
        }
    }

    &__links {
        position: absolute;
        padding: 1rem;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .05);
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
        transition: clip-path .3s;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        list-style: none;
    }

    &__list-link {
        position: relative;
        display: block;
        padding: 0.2rem 0;
        font-size: 1.7rem;
        font-weight: 500;
        text-transform: uppercase;
        transition: color .3s;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 120px;
            height: 3px;
            background-color: $primary;
            scale: 0 1;
            transform-origin: right;
            transition: scale .3s;
        }


        &:hover {
            color: $primary;

            &::after {
                scale: 1;
                transform-origin: left;
            }
        }
    }
}

.active {
    .navbar__burger-bar {
        &--top {
            transform: translate(-4px, -3px) rotate(-45deg);
            transition: transform .15s .15s ease-out;
        }

        &--middle {
            opacity: 0;
            transition-delay: .06s;
        }

        &--bottom {
            translate: 0 -14px;
            transform: translate(4px, -3px) rotate(45deg);
            transition: translate .15s ease-in, transform .15s .15s ease-out;
        }
    }

    &.navbar__links {
        clip-path: polygon(0 0, 100% 0, 100% 113%, 0 113%);
    }
}




////////////////////      HEADER     ////////////////////

.header {
    position: relative;
    background-image: url('../img/aboutus.jpg');
    background-size: cover;
    background-position: 5%;
    z-index: 0;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, .6);
        z-index: -1;
    }

    &__wrapper {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    &__title {
        margin-bottom: 3.2rem;
        padding: 0 1.6rem;
        color: #fff;
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4.8rem;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        max-width: 300px;
    }

    &__card-icon-box {
        padding: 0.8rem;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 8px rgba(255, 255, 255, .25);
    }

    &__card-icon-background {
        padding: 0.8rem;
        border-radius: 8px;
        box-shadow: inset 0 0 4px rgba(0, 0, 0, .15);

        &:has([src*="medicine"]) {
            background-color: #FFDFEE;
        }

        &:has([src*="apple"]) {
            background-color: #E1FFE0;
        }

        &:has([src*="pipe"]) {
            background-color: #CDF0FF;
        }

        &:has([src*="snow"]) {
            background-color: #fff;
        }

        &:has([src*="acid"]) {
            background-color: #FFD6D6;
        }
    }

    &__card-icon {
        width: 5.2rem;
    }

    &__card-text {
        color: #fff;
        text-align: center;
        text-shadow: 0 0 4px rgba(0, 0, 0, .5);
        font-weight: 500;
    }

    &__cards-split-line {
        display: none;
    }
}

////////////////////      OFERTA     ////////////////////

.offer {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;

    &__title {
        margin-bottom: 2.4rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
    }

    &__textbox-wrapper {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    &__text {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        color: $text-black;
        line-height: 2;
    }

    &__text-pictures-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        z-index: 0;

        &::after {
            content: '';
            position: absolute;
            background-color: $primary;
            inset: 2.4rem;
            z-index: -1;
        }
    }

    &__text-picture {
        border: 1px solid #9e9e9e;
        background-size: cover;
        aspect-ratio: 269 / 400;
        width: calc(50% - 2.4rem / 2);
        object-fit: cover;

        &--top {
            background-image: url('../img/realizations/realization_3_big.jpg');
            background-position: 21%;
        }

        &--bottom {
            margin-top: 4.8rem;
            background-image: url('../img/realizations/realization_19_big.jpg');
            background-position: center;
        }
    }

    &__services-wrapper {
        padding-left: .6rem;
        padding-right: .6rem;
    }

    &__services-pictures-wrapper {
        display: none;
    }

    &__services-title {
        font-size: 2rem;
        margin-bottom: 2.4rem;
    }

    &__services-list {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding-left: 1.6rem;
    }

    &__services-list-item {
        // line-height: 2;
        color: $text-black;
    }
}


////////////////////      CECHY - Karty     ////////////////////

.features {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;

    &__cards-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.4rem;
        border: 1px solid #F0F0F0;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    }

    &__card-icon-outer-circle {
        padding: 0.8rem;
        border-radius: 100rem;
        box-shadow: 0 0 6px rgba(0, 0, 0, .15);
    }

    &__card-icon-inner-circle {
        padding: 1.6rem;
        border-radius: 100rem;

        &:has([src*="design"]) {
            background-color: #FBE7D8;
        }

        &:has([src*="verified"]) {
            background-color: #DBE3FF;
        }

        &:has([src*="handshake"]) {
            background-color: #D8FFDC;
        }

        img[src*="design"] {
            scale: .85;
        }
    }

    &__card-icon {
        width: 4rem;
        height: 4rem;
    }

    &__card-title {
        margin-top: 1.6rem;
        color: $black;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 600;
        line-height: 2;
    }

    &__card-text {
        margin-top: 0.8rem;
        max-width: 420px;
        color: $text-black;
        text-align: center;
        line-height: 1.6;
    }
}


////////////////////      REALIZACJE     ////////////////////

.realizations {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;

    &__title {
        margin-bottom: 2.4rem;
    }

    &__pictures-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 0.6rem;
    }

    &__picture-big {
        display: block;
        width: calc(50% - 0.6rem / 2);
        height: 150px;
    }

    &__picture-small {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__see-more-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        margin-top: 1.2rem;
        padding: 0.8rem 1.6rem;
        border: 1px solid #EAEAEA;
        width: 100%;
        background-color: #fff;
        color: $text-black;
        box-shadow: 0 0 8px inset rgba(0, 0, 0, .1);
        font-size: 1.6rem;
        line-height: 2;
        transition: border-color .3s, box-shadow .3s;

        &:hover {
            border-color: $primary;
            box-shadow: none;

            .realizations__see-more-btn-icon {
                translate: 8px;
            }
        }
    }

    &__see-more-btn-icon {
        width: 1.8rem;
        transition: translate .3s;
    }
}


////////////////////      O FIRMIE     ////////////////////

.about-us {
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
    scroll-margin-top: .8rem;
    background-color: #FBFBFB;

    &__title {
        margin-bottom: 2.4rem;
    }

    &__company-name {
        &--desktop {
            display: none;
        }

        &--mobile {
            padding-left: 1.6rem;
            color: $text-black;
            font-size: 2.4rem;
            font-weight: 600;
            text-transform: uppercase;
            translate: 0 -0.4rem;
        }
    }

    &__img-wrapper {
        position: relative;
        margin-left: -1rem;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        width: calc(100% + 1rem * 2);
        z-index: 1;
    }

    &__img {
        width: calc(100% - 1.6rem);
        box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    }

    &__img-decoration {
        content: '';
        position: absolute;
        right: 0;
        width: 22%;

        &--top {
            top: 0;
            height: calc(70% + 1.6rem);
            background-color: $primary;
            z-index: -1;
        }

        &--bottom {
            bottom: 0;
            height: calc(30% + 1.6rem);
            background-color: $secondary;
            z-index: -2;
        }
    }

    &__logo-img {
        display: none;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        margin-top: 1.6rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        color: $text-black;
        text-align: justify;
        line-height: 2;
    }
}

////////////////////      REFERENCJE     ////////////////////

.references {
    padding-bottom: 4.8rem;
    background-color: #FBFBFB;

    &__title {
        margin-bottom: 2.4rem;
        color: $black;
        font-size: 2.2rem;
        text-align: center;
        font-weight: 700;
    }

    &__visible,
    &__hidden {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
    }

    &__visible {
        margin-bottom: 1.6rem;
    }

    &__hidden-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 1.2s;
        transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
        transition-timing-function: ease-in-out;
        will-change: grid-template-rows;
    }

    &__hidden {
        overflow: hidden;

        .references__reference-box:last-child {
            margin-bottom: 0.8rem;
        }
    }

    &__reference-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1.2rem;
        height: 120px;
        background-color: #fff;
        box-shadow: 2px 2px 4px inset rgba(0, 0, 0, .05), 2px 2px 4px rgba(0, 0, 0, .05);

        &:nth-child(11) {
            display: none;
        }
    }

    &__reference-img {
        max-width: 100%;
        max-height: 100%;
    }

    &__show-more-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        margin-top: 2.4rem;
        margin-left: auto;
        margin-right: auto;
        padding: 0.8rem 1.6rem;
        border: none;
        min-width: 300px;
        background-color: transparent;
        color: $text-black;
        font-size: 1.5rem;
        z-index: 0;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: #fff;
            border: 1px solid #c4c4c4;
            z-index: -1;
            scale: 1 0;
            transform-origin: top;
            transition: scale .3s;
        }

        &:hover::before {
            scale: 1 1;
        }
    }

    &__show-more-btn-icon {
        transition: rotate .3s;
    }

    .active {
        .references {
            &__hidden-wrapper {
                grid-template-rows: 1fr;
            }

            &__show-more-btn {
                min-width: 316px;
            }

            &__show-more-btn-icon {
                rotate: -180deg;
            }
        }
    }
}

////////////////////      KONTAKT     ////////////////////

.contact {
    padding-top: 5.6rem;

    &__title {
        margin-bottom: 2.4rem;
    }

    &__info-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        padding-bottom: 3.2rem;
    }

    &__info-box {
        padding-left: 0.6rem;

        &--phone-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.8rem;
        }

        // & > .contact__info-text {
        //     padding-left: 0.6rem;
        // }
    }

    &__info-icon {
        margin-bottom: 1.6rem;
        margin-left: -0.6rem;
    }

    &__info-text {
        font-size: 1.7rem;
        line-height: 2;

        &--margin-bottom {
            margin-bottom: 0.8rem;
        }
    }

    &__info-row {
        display: flex;
        align-items: center;
        gap: 2.4rem;
    }

    &__decoration-line {
        height: 1px;
        width: 236px;
        background-color: $primary;
    }

    &__map-wrapper {
        margin-left: -1rem;
        width: calc(100% + 1rem * 2);
        height: 50vh;
        height: 50svh;
        min-height: 270px;        
    }

    &__map {
        display: block;
        border: none;
        width: 100%;
        height: 100%;
    }
}








// =============================================================================


@media (width >=560px) {

    .container {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .section-title {
        font-size: 2.7rem;
    }

    ////////////////////      NAWIGACJA     ////////////////////

    .navbar {
        &__brand {
            padding: 0.8rem 1.6rem;
        }

        &__logo-img {
            max-width: 160px;
        }

        &__links {
            padding: 2.4rem;
        }

        &__list-link {
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
        }
    }

    ////////////////////      HEADER     ////////////////////

    .header {
        &__wrapper {
            padding-top: 7.2rem;
            padding-bottom: 7.2rem;
        }

        &__title {
            margin-bottom: 4.8rem;
            font-size: 2.7rem;
        }

        &__cards {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            gap: 4.8rem;
        }

        &__card {
            // padding-top: 3.2rem;
            // padding-bottom: 3.2rem;
            padding-top: .8rem;
            padding-bottom: .8rem;
            padding-left: 0;
            padding-right: 0;
            width: calc(50% - 2.4rem);
        }
    }

    ////////////////////      OFERTA     ////////////////////

    .offer {
        padding-top: 8rem;
        padding-bottom: 8rem;

        &__textbox-wrapper {
            gap: 4rem;
        }

        &__wrapper {
            gap: 6.4rem;
        }

        &__text-pictures-wrapper {
            &::after {
                inset: 3.2rem;
            }
        }

        &__text-picture {
            width: calc(50% - 3.2rem / 2);

            &--top {
                box-shadow: -4px -4px 12px rgba(0, 0, 0, .15);
            }

            &--bottom {
                margin-top: 6.4rem;
                box-shadow: 4px 4px 12px rgba(0, 0, 0, .25);
            }
        }
    }

    ////////////////////      CECHY - Karty     ////////////////////

    .features {
        // &__cards-wrapper {
        //     gap: 3.2rem;
        // }

        &__card {
            padding: 3.2rem 2.4rem;
        }

        &__card-title {
            font-size: 1.9rem;
        }
    }

    ////////////////////      REALIZACJE     ////////////////////

    .realizations {
        padding-top: 8rem;
        padding-bottom: 8rem;

        &__picture-big {
            width: calc(100% / 3 - 0.6rem * 2 / 3);

            &:last-child {
                display: none;
            }
        }
    }

    ////////////////////      O FIRMIE     ////////////////////

    .about-us {
        scroll-margin-top: 2.4rem;

        &__company-name {
            &--mobile {
                font-size: 2.6rem;
            }
        }

        &__img-wrapper {
            margin-left: -2.4rem;
            width: calc(100% + 2.4rem * 2);
        }
    }

    ////////////////////      REFERENCJE     ////////////////////

    .references {
        padding-top: 1.6rem;

        &__title {
            margin-bottom: 3.2rem;
        }

        &__visible,
        &__hidden {
            grid-template-columns: repeat(3, 1fr);
        }

        &__reference-box:nth-child(11) {
            display: flex;
        }
    }

    ////////////////////      KONTAKT     ////////////////////

    .contact {
        scroll-margin-top: 2.4rem;

        &__info-box {
            padding-left: 0;
        }

        &__info-text {
            font-size: 1.8rem;
        }

        &__map-wrapper {
            margin-left: -2.4rem;
            width: calc(100% + 2.4rem * 2);
        }
    }
}

// =============================================================================


@media (width >=600px) {

    ////////////////////      CECHY - Karty     ////////////////////

    .features {
        &__cards-wrapper {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__card {
            width: calc(50% - 2.4rem / 2);

            &:first-of-type {
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }
}

// =============================================================================


@media (width >=740px) {

    ////////////////////      O FIRMIE     ////////////////////

    .about-us {
        &__img-wrapper {
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;
        }

        &__img {
            width: calc(100% - 2.4rem);
        }
    }

    ////////////////////      REFERENCJE     ////////////////////

    .references {

        &__visible,
        &__hidden {
            grid-template-columns: repeat(4, 1fr);
            gap: 2.4rem;
            margin-bottom: 2.4rem;
        }

        &__reference-box {

            &:nth-child(3),
            &:nth-child(7),
            &:nth-child(11) {
                display: none;

            }
        }
    }
}

// =============================================================================


@media (width >=800px) {

    ////////////////////      NAWIGACJA     ////////////////////

    .navbar {
        border-bottom: 1px solid #F8F8F8;
        background-color: #fff;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .05);

        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.6rem 2.4rem;
            padding: 2.4rem 3.2rem;
        }

        &__brand {
            display: block;
            padding: 0;
            border-bottom: none;
            background-color: transparent;
            box-shadow: none;
        }

        &__logo {
            margin: -0.8rem -1.6rem;
            padding: 0.8rem 1.6rem;
        }

        &__burger-btn {
            display: none;
        }

        &__links {
            position: static;
            margin: -0.8rem -1.6rem;
            padding: 0;
            border: none;
            width: auto;
            background-color: transparent;
            box-shadow: none;
            clip-path: none;
        }

        &__list {
            flex-direction: row;
            gap: calc(4rem - 3.2rem);
        }

        &__list-link {
            padding: 0.8rem 1.6rem;

            &::after {
                bottom: -0.8rem;
                left: -0.3rem;
                width: calc(100% + 0.6rem);
            }
        }
    }

    ////////////////////      KONTAKT     ////////////////////

    .contact {
        &__title {
            margin-bottom: 4.8rem;
        }

        &__wrapper {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 5.6rem;
        }

        &__info-wrapper {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            padding-right: 4rem;
        }

        &__map-wrapper {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            border-top: 1px solid #e1e1e1;
            border-right: 1px solid #e1e1e1;
            width: calc(100% + 2.4rem);
            height: 100%;
        }
    }
}

// =============================================================================


@media (width >=920px) {

    .container {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }

    .section-title {
        font-size: 3rem;
    }

    ////////////////////      HEADER     ////////////////////

    .header {
        background-position: 15%;

        &__wrapper {
            padding-top: 8.8rem;
            padding-bottom: 10.4rem;
        }

        &__title {
            font-size: 3.2rem;
        }

        &__card {
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;
            width: calc(100% / 3 - 4.8rem * 2 / 3);
        }
    }

    ////////////////////      OFERTA     ////////////////////

    .offer {
        padding-top: 8.8rem;
        padding-bottom: 8.8rem;

        &__text-wrapper,
        &__services-wrapper {
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;
        }

        &__title {
            margin-bottom: 4.8rem;
        }

        &__wrapper {
            gap: 7.2rem;
        }

        &__textbox-wrapper {
            flex-direction: row;
            gap: 5.6rem;
        }

        &__text-wrapper {
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;
        }

        &__text {
            padding-left: 0;
            padding-right: 0;
        }

        &__text-pictures-wrapper {
            width: 180%;

            &::after {
                right: 0;
                bottom: 0;
            }
        }

        &__text-picture {
            aspect-ratio: auto;

            &--top {
                width: calc(100% - 3.2rem);
                height: calc(100% - 3.2rem);
                background-position: 18%;
            }

            &--bottom {
                display: none;
            }
        }

        &__servicesbox-wrapper {
            display: flex;
            gap: 5.6rem;
        }

        &__services-pictures-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            width: 60%;

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                top: 293px;
                width: calc(100% - 3.2rem);
                height: calc(50% - 1.6rem);
                aspect-ratio: 269 / 444;
                background-color: $primary;
            }
        }

        &__services-picture {
            margin-left: 3.2rem;
            height: calc(50% - 3.2rem / 2);
            background-size: cover;
            background-position: center;
            border: 1px solid #9E9E9E;

            &--top {
                background-image: url('../img/realizations/realization_20_big.jpg');
                box-shadow: 4px -4px 12px rgba(0, 0, 0, .15);
            }

            &--middle {
                display: none;
                background-image: url('../img/realizations/realization_17_big.jpg');
            }

            &--bottom {
                background-image: url('../img/realizations/realization_16_big.jpg');
                box-shadow: 4px 4px 12px rgba(0, 0, 0, .15);
            }
        }

        &__services-title {
            margin-bottom: 3.2rem;
        }
    }

    ////////////////////      CECHY - Karty     ////////////////////

    .features {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    ////////////////////      REALIZACJE     ////////////////////

    .realizations {
        padding-top: 8.8rem;
        padding-bottom: 8.8rem;

        &__title {
            margin-bottom: 4.8rem;
        }

        &__pictures-wrapper {
            gap: 0.4rem;
        }

        &__picture-big {
            width: calc(100% / 5 - 0.4rem * 4 / 5);

            &:last-child {
                display: inline;
            }
        }

        &__see-more-btn {
            margin-top: 0.8rem;
        }
    }

    ////////////////////      O FIRMIE     ////////////////////

    .about-us {
        padding-top: 6.4rem;
        padding-bottom: 6.4rem;

        &__title {
            margin-bottom: 3.2rem;
        }

        &__company-name {
            &--mobile {
                padding-left: 0;
                font-size: 3rem;
            }
        }

        &__img-wrapper {
            margin-left: 0;
            width: 100%;
        }

        &__logo-img {
            display: inline-block;
            margin-left: 73%;
            margin-bottom: -1.6rem;
            height: 40px;
            translate: 0 -6px;
        }

        &__text-container {
            padding-left: 0;
            padding-right: 0;
        }
    }

    ////////////////////      REFERENCJE     ////////////////////

    .references {
        padding-bottom: 6.4rem;

        &__title {
            margin-bottom: 4rem;
            font-size: 2.4rem;
        }

        &__show-more-btn {
            font-size: 1.6rem;
        }
    }

    ////////////////////      KONTAKT     ////////////////////

    .contact {
        padding-top: 6.4rem;

        &__map-wrapper {
            margin-left: -3.2rem;
            width: calc(100% + 3.2rem);
        }
    }
}

// =============================================================================


@media (width >=1000px) {

    ////////////////////      CECHY - Karty     ////////////////////

    .features {
        &__cards-wrapper {
            flex-wrap: nowrap;
            gap: 3.2rem;
        }

        &__card {
            width: auto;

            &:first-of-type {
                margin: 0;
            }
        }
    }
}

// =============================================================================


@media (width >=1100px) {

    ////////////////////      OFERTA     ////////////////////

    .offer {
        &__text-pictures-wrapper {
            width: 220%;

            &::after {
                inset: 3.2rem;
            }
        }

        &__text-picture {
            &--top {
                width: calc(50% - 3.2rem / 2);
                height: calc(100% - 3.2rem * 2);
            }

            &--bottom {
                display: block;
                width: calc(50% - 3.2rem / 2);
                height: calc(100% - 3.2rem * 2);
            }
        }

        &__services-pictures-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 3.2rem;

            &::after {
                inset: 3.2rem;
                width: auto;
                height: auto;
                aspect-ratio: auto;
            }
        }

        &__services-picture {
            margin: 0;
            height: auto;

            &--top {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                background-position: 73%;
                box-shadow: 4px -4px 12px rgba(0, 0, 0, .15);
            }

            &--middle {
                display: block;
                grid-column: 1 / 2;
                grid-row: 1 / 3;
                margin-top: calc(3.2rem * 2);
                margin-bottom: calc(3.2rem * 2);
                background-position: 38%;
                box-shadow: -4px 0 12px rgba(0, 0, 0, .25);
            }

            &--bottom {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                box-shadow: 4px 4px 12px rgba(0, 0, 0, .22);
            }
        }
    }

    ////////////////////      REFERENCJE     ////////////////////

    .references {
        padding-bottom: 7.2rem;

        &__visible,
        &__hidden {
            grid-template-columns: repeat(5, 1fr);
        }

        &__reference-box {

            &:nth-child(3),
            &:nth-child(7),
            &:nth-child(11) {
                display: flex;
            }
        }
    }
}

// =============================================================================


@media (width >=1300px) {

    .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 5rem;
        padding-right: 5rem;
        max-width: 1300px;
    }

    ////////////////////      NAWIGACJA     ////////////////////

    .navbar {
        &__wrapper {
            margin: 0 auto;
            padding-left: 5rem;
            padding-right: 5rem;
            max-width: calc(1200px + 2 * 5rem);
        }

        &__logo-img {
            max-width: 192px;
        }

        &__list {
            gap: calc(4.8rem - 3.2rem);
        }

        &__list-link {
            font-size: 1.8rem;

            &::after {
                bottom: -0.8rem;
                left: -0.7rem;
                width: calc(100% + 1.4rem);
            }
        }
    }

    ////////////////////      HEADER     ////////////////////

    .header {
        background-position: center;

        &__wrapper {
            max-width: 1500px;
        }

        &__cards {
            flex-wrap: nowrap;
            gap: 4rem;
        }

        &__card {
            width: auto;
        }

        &__cards-split-line {
            display: block;
            width: 1px;
            background-color: #E6E6E6;
            // background-color: #bfbfbf;
            box-shadow: 0 0 8px rgba(255, 255, 255, .4);
            // rotate: 15deg;
            // translate: 12px;

            rotate: 90deg;
            height: 60px;
            translate: 0 30px;
        }
    }

    ////////////////////      OFERTA     ////////////////////

    .offer {
        padding-top: 12rem;
        padding-bottom: 12rem;

        &__textbox-wrapper,
        &__servicesbox-wrapper {
            gap: 6rem;
        }

        &__text-wrapper,
        &__text-pictures-wrapper,
        &__services-pictures-wrapper,
        &__services-wrapper {
            width: 50%;
        }

        &__services-picture {
            &--top {
                background-position: 92%;
            }
        }
    }

    ////////////////////      CECHY - Karty     ////////////////////

    .features {
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;

        &__cards-wrapper {
            gap: 4rem;
        }
    }

    ////////////////////      REALIZACJE     ////////////////////

    .realizations {
        padding-top: 12rem;
        padding-bottom: 12rem;

        &__see-more-btn {
            font-size: 1.8rem;
        }
    }

    ////////////////////      O FIRMIE     ////////////////////

    .about-us {
        padding-top: 7.2rem;
        padding-bottom: 7.2rem;
        scroll-margin-top: 4.8rem;
    }

    ////////////////////      KONTAKT     ////////////////////

    .contact {
        padding-top: 7.2rem;
        scroll-margin-top: 4.8rem;

        &__wrapper {
            gap: 7.2rem;
        }

        &__map-wrapper {
            margin-left: 0;
            border-left: 1px solid #e1e1e1;
            width: auto;
        }
    }
}