$black: #1A0809;
$black75: #1A0809BF;
$black50: #1A080980;
$black25: #1A080940;
$black10: #1A08091A;
$black5: #1A08090D;
$primary: #CC1F2A;
$secondary: #737373;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 32px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    vertical-align: middle;
}

a,
button,
select {
    cursor: pointer;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: inherit;
}

input {
    font-family: inherit;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

a {
    color: $black;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-weight: 600;
// }




////////////////////      NAWIGACJA     ////////////////////

.navbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    
    &__brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .4rem .2rem;
        border-bottom: 1px solid #F8F8F8;
        background-color: #fff;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .05);
    }

    &__logo {
        padding: 0.8rem;
    }

    &__logo-img {
        width: 140px;
    }

    &__burger-btn {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 0.8rem;
        border: none;
        background-color: transparent;
    }

    &__burger-bar {
        display: inline-block;
        border-radius: 100rem;
        width: 28px;
        height: 3px;
        background-color: #696969;

        &--top {
            transform-origin: right center;
            transition: transform .15s ease-in;
        }

        &--middle {
            transition-delay: .21s;
        }

        &--bottom {
            transition: transform .15s ease-in, translate .15s .15s ease-out;
            transform-origin: left center;
        }
    }

    &__links {
        padding: 1rem;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        background-color: #fff;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .05);
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
        transition: clip-path .38s;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }

    &__list-link {
        display: block;
        padding: 0.2rem 0;
        font-size: 1.7rem;
        text-transform: uppercase;
    }
}

.active {
    .navbar__burger-bar {
        &--top {
            transform: translate(-4px, -3px) rotate(-45deg);
            transition: transform .15s .15s ease-out;
        }

        &--middle {
            opacity: 0;
            transition-delay: .06s;
        }

        &--bottom {
            translate: 0 -14px;
            transform: translate(4px, -3px) rotate(45deg);
            transition: translate .15s ease-in, transform .15s .15s ease-out;
        }
    }

    &.navbar__links {
        clip-path: polygon(0 0, 100% 0, 100% 113%, 0 113%);
    }
}