$black: #1A0809;
$black75: #1A0809BF;
$black50: #1A080980;
$black25: #1A080940;
$black10: #1A08091A;
$black5: #1A08090D;
$text-black: #1A0809D9;
$primary: #CC1F2A;
$secondary: #737373;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 32px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    vertical-align: middle;
}

a,
button,
select {
    cursor: pointer;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: inherit;
}

input {
    font-family: inherit;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

a {
    color: $black;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.section-title {
    text-align: center;
    color: $black;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-weight: 600;
// }




////////////////////      NAWIGACJA     ////////////////////

.navbar {
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;

    &__brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .4rem .2rem;
        border-bottom: 1px solid #F8F8F8;
        background-color: #fff;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .05);
    }

    &__logo {
        display: inline-block;
        padding: 0.8rem;
        transition: opacity .2s;

        &:hover {
            opacity: .7;
        }
    }

    &__logo-img {
        max-width: 140px;
    }

    &__burger-btn {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 0.8rem;
        border: none;
        background-color: transparent;
    }

    &__burger-bar {
        display: inline-block;
        border-radius: 100rem;
        width: 28px;
        height: 3px;
        background-color: #696969;

        &--top {
            transform-origin: right center;
            transition: transform .15s ease-in;
        }

        &--middle {
            transition-delay: .21s;
        }

        &--bottom {
            transition: transform .15s ease-in, translate .15s .15s ease-out;
            transform-origin: left center;
        }
    }

    &__links {
        position: absolute;
        padding: 1rem;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .05);
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
        transition: clip-path .3s;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        list-style: none;
    }

    &__list-link {
        position: relative;
        display: block;
        padding: 0.2rem 0;
        font-size: 1.7rem;
        font-weight: 500;
        text-transform: uppercase;
        transition: color .3s;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 120px;
            height: 3px;
            background-color: $primary;
            scale: 0 1;
            transform-origin: right;
            transition: scale .3s;
        }


        &:hover {
            color: $primary;

            &::after {
                scale: 1;
                transform-origin: left;
            }
        }
    }
}

.active {
    .navbar__burger-bar {
        &--top {
            transform: translate(-4px, -3px) rotate(-45deg);
            transition: transform .15s .15s ease-out;
        }

        &--middle {
            opacity: 0;
            transition-delay: .06s;
        }

        &--bottom {
            translate: 0 -14px;
            transform: translate(4px, -3px) rotate(45deg);
            transition: translate .15s ease-in, transform .15s .15s ease-out;
        }
    }

    &.navbar__links {
        clip-path: polygon(0 0, 100% 0, 100% 113%, 0 113%);
    }
}




////////////////////      HEADER     ////////////////////

.header {
    position: relative;
    background-image: url('../img/aboutus.jpg');
    background-size: cover;
    background-position: 5%;
    z-index: 0;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, .6);
        z-index: -1;
    }

    &__wrapper {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    &__title {
        margin-bottom: 3.2rem;
        padding: 0 1.6rem;
        color: #fff;
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4.8rem;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        max-width: 300px;
    }

    &__card-icon-box {
        padding: 0.8rem;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 8px rgba(255, 255, 255, .25);
    }

    &__card-icon-background {
        padding: 0.8rem;
        border-radius: 8px;
        box-shadow: inset 0 0 4px rgba(0, 0, 0, .15);

        &:has([src*="medicine"]) {
            background-color: #FFDFEE;
        }

        &:has([src*="apple"]) {
            background-color: #E1FFE0;
        }

        &:has([src*="pipe"]) {
            background-color: #CDF0FF;
        }

        &:has([src*="snow"]) {
            background-color: #fff;
        }

        &:has([src*="acid"]) {
            background-color: #FFD6D6;
        }
    }

    &__card-icon {
        width: 5.2rem;
    }

    &__card-text {
        color: #fff;
        text-align: center;
        text-shadow: 0 0 4px rgba(0, 0, 0, .5);
        font-weight: 500;
    }

    &__cards-split-line {
        display: none;
    }
}

////////////////////      OFERTA     ////////////////////

.offer {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;

    &__title {
        margin-bottom: 2.4rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
    }

    &__textbox-wrapper {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    &__text {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        color: $text-black;
        line-height: 2;
    }

    &__text-pictures-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        z-index: 0;

        &::after {
            content: '';
            position: absolute;
            background-color: $primary;
            inset: 2.4rem;
            z-index: -1;
        }
    }

    &__text-picture {
        border: 1px solid #9e9e9e;
        background-size: cover;
        aspect-ratio: 269 / 400;
        width: calc(50% - 2.4rem / 2);
        object-fit: cover;

        &--top {
            background-image: url('../img/realizations/realization_3_big.jpg');
            background-position: 21%;
        }

        &--bottom {
            margin-top: 4.8rem;
            background-image: url('../img/realizations/realization_19_big.jpg');
            background-position: center;
        }
    }

    &__features-wrapper {
        padding-left: .6rem;
        padding-right: .6rem;
    }

    &__features-pictures-wrapper {
        display: none;
    }

    &__features-title {
        font-size: 2rem;
        margin-bottom: 2.4rem;
    }

    &__features-list {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding-left: 1.6rem;
    }

    &__features-list-item {
        // line-height: 2;
        color: $text-black;
    }
}








// =============================================================================


@media (min-width: 560px) {

    .container {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .section-title {
        font-size: 2.7rem;
    }

    ////////////////////      NAWIGACJA     ////////////////////

    .navbar {
        &__brand {
            padding: 0.8rem 1.6rem;
        }

        &__logo-img {
            max-width: 160px;
        }

        &__links {
            padding: 2.4rem;
        }

        &__list-link {
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
        }
    }

    ////////////////////      HEADER     ////////////////////

    .header {
        &__wrapper {
            padding-top: 7.2rem;
            padding-bottom: 7.2rem;
        }

        &__title {
            margin-bottom: 4.8rem;
            font-size: 2.7rem;
        }

        &__cards {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            gap: 4.8rem;
        }

        &__card {
            // padding-top: 3.2rem;
            // padding-bottom: 3.2rem;
            padding-top: .8rem;
            padding-bottom: .8rem;
            padding-left: 0;
            padding-right: 0;
            width: calc(50% - 2.4rem);
        }
    }

    ////////////////////      OFERTA     ////////////////////

    .offer {
        padding-top: 8rem;
        padding-bottom: 8rem;

        &__textbox-wrapper {
            gap: 4rem;
        }

        &__wrapper {
            gap: 6.4rem;
        }

        &__text-pictures-wrapper {
            &::after {
                inset: 3.2rem;
            }
        }

        &__text-picture {
            width: calc(50% - 3.2rem / 2);

            &--top {
                box-shadow: -4px -4px 12px rgba(0, 0, 0, .15);
            }

            &--bottom {
                margin-top: 6.4rem;
                box-shadow: 4px 4px 12px rgba(0, 0, 0, .25);
            }
        }
    }
}

// =============================================================================


@media (min-width: 800px) {

    ////////////////////      NAWIGACJA     ////////////////////

    .navbar {
        border-bottom: 1px solid #F8F8F8;
        background-color: #fff;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .05);

        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.6rem 2.4rem;
            padding: 2.4rem 3.2rem;
        }

        &__brand {
            display: block;
            padding: 0;
            border-bottom: none;
            background-color: transparent;
            box-shadow: none;
        }

        &__logo {
            margin: -0.8rem -1.6rem;
            padding: 0.8rem 1.6rem;
        }

        &__burger-btn {
            display: none;
        }

        &__links {
            position: static;
            margin: -0.8rem -1.6rem;
            padding: 0;
            border: none;
            width: auto;
            background-color: transparent;
            box-shadow: none;
            clip-path: none;
        }

        &__list {
            flex-direction: row;
            gap: calc(4rem - 3.2rem);
        }

        &__list-link {
            padding: 0.8rem 1.6rem;

            &::after {
                bottom: -0.8rem;
                left: -0.3rem;
                width: calc(100% + 0.6rem);
            }
        }
    }
}

// =============================================================================


@media (min-width: 920px) {

    .container {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }

    ////////////////////      HEADER     ////////////////////

    .header {
        background-position: 15%;

        &__wrapper {
            padding-top: 8.8rem;
            padding-bottom: 10.4rem;
        }

        &__title {
            font-size: 3.2rem;
        }

        &__card {
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;
            width: calc(100% / 3 - 4.8rem * 2 / 3);
        }
    }

    ////////////////////      OFERTA     ////////////////////

    .offer {
        padding-top: 8.8rem;
        padding-bottom: 8.8rem;

        &__text-wrapper,
        &__features-wrapper {
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;
        }

        &__features-pictures-wrapper::after {
            aspect-ratio: 269 / 444;
            width: calc(100% - 3.2rem);
            height: calc(50% - 1.6rem);
        }

        &__title {
            margin-bottom: 4.8rem;
            font-size: 3rem;
        }

        &__wrapper {
            gap: 7.2rem;
        }

        &__textbox-wrapper {
            flex-direction: row;
            gap: 5.6rem;
        }

        &__text-wrapper {
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;
        }

        &__text {
            padding-left: 0;
            padding-right: 0;
        }

        &__text-pictures-wrapper {
            width: 180%;

            &::after {
                right: 0;
                bottom: 0;
            }
        }

        &__text-picture {
            aspect-ratio: auto;

            &--top {
                width: calc(100% - 3.2rem);
                height: calc(100% - 3.2rem);
                background-position: 18%;
            }

            &--bottom {
                display: none;
            }
        }

        &__featuresbox-wrapper {
            display: flex;
            gap: 5.6rem;
        }

        &__features-pictures-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            width: 60%;

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                top: 293px;
                background-color: $primary;
            }
        }

        &__features-picture {
            margin-left: 3.2rem;
            height: calc(50% - 3.2rem / 2);
            background-size: cover;
            background-position: center;
            border: 1px solid #9E9E9E;

            &--top {
                background-image: url('../img/realizations/realization_20_big.jpg');
                box-shadow: 4px -4px 12px rgba(0, 0, 0, .15);
            }

            &--middle {
                display: none;
                background-image: url('../img/realizations/realization_17_big.jpg');
            }

            &--bottom {
                background-image: url('../img/realizations/realization_16_big.jpg');
                box-shadow: 4px 4px 12px rgba(0, 0, 0, .15);
            }
        }

        &__features-title {
            margin-bottom: 3.2rem;
        }
    }
}

// =============================================================================


@media (min-width: 1300px) {

    .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 5rem;
        padding-right: 5rem;
        max-width: 1300px;
    }

    ////////////////////      NAWIGACJA     ////////////////////

    .navbar {
        &__wrapper {
            margin: 0 auto;
            padding-left: 5rem;
            padding-right: 5rem;
            max-width: calc(1200px + 2 * 5rem);
        }

        &__logo-img {
            max-width: 192px;
        }

        &__list {
            gap: calc(4.8rem - 3.2rem);
        }

        &__list-link {
            font-size: 1.8rem;

            &::after {
                bottom: -0.8rem;
                left: -0.7rem;
                width: calc(100% + 1.4rem);
            }
        }
    }

    ////////////////////      HEADER     ////////////////////

    .header {
        background-position: center;

        &__wrapper {
            max-width: 1500px;
        }

        &__cards {
            flex-wrap: nowrap;
            gap: 4rem;
        }

        &__card {
            width: auto;
        }

        &__cards-split-line {
            display: block;
            width: 1px;
            background-color: #E6E6E6;
            // background-color: #bfbfbf;
            box-shadow: 0 0 8px rgba(255, 255, 255, .4);
            // rotate: 15deg;
            // translate: 12px;

            rotate: 90deg;
            height: 60px;
            translate: 0 30px;
        }
    }
}