.realizations {
    .realizations-subpage {
        padding-top: 3.2rem;

        &__go-back-btn {
            &:hover {
                .realizations__see-more-btn-icon {
                    translate: -8px;
                }
            }
        }
    }
}

@media (width >=560px) {
    .realizations.realizations-subpage {
        padding-top: 4rem;
    }
}

@media (width >=920px) {
    .realizations {
        .realizations__title {
            margin-bottom: 4rem;
        }

        .realizations-subpage__go-back-btn {
            margin-top: 2.4rem;
        }
    }
}

@media (width >=1300px) {
    .realizations.realizations-subpage {
        padding-top: 5.6rem;
    }
}